In [ ]:
import numpy as np

In [ ]:
x = np.array([1, 2, 3])

3

# Control Flow

## If Else

In [ ]:
if condition:
    pass
elif condition:
    pass
else:
    pass

0, None, False : All of these are considered False

## While Loop

In [ ]:
while condition:
    pass
# Remaining code

NameError: name 'condition' is not defined

In [ ]:
while condition:
    pass
else:
    pass

## For Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects

In [ ]:
# 1*7 = 7
# 2*7 = 14
# 3*7 = 21
# .
# .
# 10*7 = 70

In [ ]:
for x in range(1, 11):
  print(x, "*", 7,"=",x*7)

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [ ]:
for x in range(1, 6):
  print("Good Evening")

Good Evening
Good Evening
Good Evening
Good Evening
Good Evening

In [ ]:
grocery = ["Apple", "Orange", "Banana"]
for x in grocery:
    print(x)

Apple
Orange
Banana

In [ ]:
numbers = "data science"
for num in numbers:
    print(num)

d
a
t
a

s
c
i
e
n
c
e

In [ ]:
for x in range(1, 11):
  if x %2== 0:
    continue
  print(x)

1
3
5
7
9

In [ ]:
for num in numbers:
    print(num)
else:
  print("No more items left!")

1
2
3
4
5
No more items left!

## BREAK and CONTINUE

### Break

In [ ]:
for num in numbers:
    if num == 3:
        break
    print(num)
print("outside of for loop ")

1
2
outside of for loop

In [ ]:
for num in numbers:
    if num == 3:
        continue
    print(num)
print("outside of for loop ")

1
2
4
5
outside of for loop

In [ ]:
i = 1
while i<=10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
x = input("Enter a number: ")
i = 1
while i<11:
  print(i, "*", x ,"=", i*int(x))
  i = i+1

Enter a number: 6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

In [ ]:
x = input("Enter a number: ")
print("The number you entered is: ", x)
y = int(x)
print(type(x))
print(type(y))

Enter a number: 100
The number you entered is:  100
<class 'str'>
<class 'int'>

In [ ]:
with open("sample.txt", "w") as f:
    f.write("Good evening")

In [ ]:
with open("sample.txt", "r") as f:
    data = f.readlines()
print(data)

['Hello, World!']

In [ ]:
def greet():
  print("Good evening")
  print("Hello DSA Students")

In [ ]:
def greet(name="Guest"):
  print("Hello", name)

In [ ]:
greet("Bob")

Hello Bob

## Keywords


*   Keywords are reserved words in Python
*   Keywords cannot be used as variable name, function name or any other identifier
*   Keywords are case sensitive

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

## Multiline statements using continuation ('\\') character

In [ ]:
a = 1+2+3+4+5+6+7
print(a)

b = 1+2+3+4+\
5+6+\
7
print(b)

28
28

## Multiline Assignments

In [ ]:
x, y, z = "ICT", 2024, "DSA Batch 4"
print(x)
print(y)
print(z)

ICT
2024
DSA Batch 4

## Standard Input and Output

### Standard Input

In [ ]:
name = input("Enter your name: ")
print("The name you entered is: ", name)

Enter your name: Sajil
The name you entered is:  Sajil

### Standard output

In [ ]:
a = 10
b = 20
print(a, b)
print("a = ", a)
print("b = ", b)
print("a = {} and b = {}".format(a, b))
print("a = {0} and b = {1}".format(a, b))
print("a = {1} and b = {0}".format(a, b))
print("Hello {}, welcome to DSA class ".format(name))

10 20
a =  10
b =  20
a = 10 and b = 20
a = 10 and b = 20
a = 20 and b = 10
Hello Sajil, welcome to DSA class

## Functions


*   Function is a group of related statements that perform a specific task
*   There are bulit-in functions and user defined functions
*   Functions break the program into smaller and modular chunks
*   As program grows, function make it more organised and managable
*   It avoids repetition and make code reusable

In [ ]:
def function_name(parameters):
  """ doc string"""
  # Statements
  return value

In [ ]:
print(function_name.__doc__) # prints the docstring of the function

 doc string

In [ ]:
def add_numbers(a, b):
  """ This function adds two numbers """
  sum = a + b
  return sum

In [ ]:
add_numbers(4, 6)

10

In [ ]:
print(add_numbers.__doc__)

 This function adds two numbers

#### Keyword arguements

In [ ]:
def print_info(*kwargs):
  for item in kwargs:
    print(item)

In [ ]:
print_info("hi", "hello", "how r u" ,"bye")

hi
hello
how r u
bye

In [ ]:
print_info("hi", "bye")

hi
bye